<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="jdbc.properties"/>

    <settings>
        <!--支持驼峰命名-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--禁用缓存-->
        <setting name="cacheEnabled" value="false"/>
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>

    <!--设置类型别名-->
    <typeAliases>
        <package name="com.xxx.domain"/>
    </typeAliases>


    <environments default="develop">
        <environment id="develop">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>

    </environments>

    <mappers>
        <package name="com.xxx.mapper"/>
    </mappers>
</configuration>